terraform {
  backend "s3" {
    bucket       = "replace-with-approved-terraform-state-bucket"
    key          = "tf2-finops-watch/development/state-lambda/terraform.tfstate"
    region       = "ap-southeast-1"
    use_lockfile = true
    encrypt      = true
  }
}
